vllm==0.10.2
sentence_transformers
sacremoses
retriv
nltk
trl==0.19.1
tensorboard
jieba
SentencePiece
openai
matplotlib
Cython
Pillow
sacrebleu
networkx
translate
tiktoken
nvitop
einops
lighteval
e2b_code_interpreter
math_verify
transformers==4.53.2